.header {
  height: auto;
  padding: 0;
  background-color: white;
}

.header__wrapper {
  display: flex;
  height: 110px;
  max-width: 1110px;
  margin: auto;
  justify-content: space-between;
}

.header__logo,
.header__info {
  display: flex;
  align-items: center;
}

.header__logo__img {
  padding-top: 4px;
  padding-right: 16px;
}

.header__logo__text {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: black;
}

.header__info__number {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: black !important;
}

.header__info__button {
  width: 187px;
  height: 47px;
  margin-left: 32px;
  background: #ffdf31;
  border-radius: 8px;
  border: none;
}

.header__info__button:hover {
  background: #dd8e19;
}

.header__info__button:hover span {
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: white;
}

.header__info__button span {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: black;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.content {
  background: white;
}

.banner {
  background: #f5f5f5;
}

.banner__wrapper {
  max-width: 1110px;
  margin: auto;
}

.banner__content {
  display: flex !important;
  justify-content: space-between;
}

.banner__content__slogan {
  width: 271px;
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 66px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 48px;
}

.banner__arrow {
  width: 44px !important;
  position: absolute;
  color: black !important;
  background-color: white !important;
}

.banner__arrow:hover {
  background-color: #dfdfdf !important;
}
