body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  height: auto;
  padding: 0;
  background-color: white;
}

.header__wrapper {
  display: flex;
  height: 110px;
  max-width: 1110px;
  margin: auto;
  justify-content: space-between;
}

.header__logo,
.header__info {
  display: flex;
  align-items: center;
}

.header__logo__img {
  padding-top: 4px;
  padding-right: 16px;
}

.header__logo__text {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: black;
}

.header__info__number {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: black !important;
}

.header__info__button {
  width: 187px;
  height: 47px;
  margin-left: 32px;
  background: #ffdf31;
  border-radius: 8px;
  border: none;
}

.header__info__button:hover {
  background: #dd8e19;
}

.header__info__button:hover span {
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: white;
}

.header__info__button span {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: black;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.content {
  background: white;
}

.banner {
  background: #f5f5f5;
}

.banner__wrapper {
  max-width: 1110px;
  margin: auto;
}

.banner__content {
  display: flex !important;
  justify-content: space-between;
}

.banner__content__slogan {
  width: 271px;
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 66px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 48px;
}

.banner__arrow {
  width: 44px !important;
  position: absolute;
  color: black !important;
}

.banner__arrow:hover {
  background-color: #dfdfdf !important;
}

.cards {
  margin-top: 72px;
  overflow: hidden;
}

.cards__wrapper {
  max-width: 1110px;
  margin: auto;
}

.cards__title {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
  padding-bottom: 32px;
}

.cards .slick-list {
  overflow: visible;
}

.card__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 30px;
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.card__wrapper:hover {
  background-color: #ffdf31;
  transition: background-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.card__name {
  position: absolute;
  top: 0;
  margin-top: 24px;
  margin-left: 24px;
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  background-color: white;
  padding: 12px 16px;
  border-radius: 1000px;
}

.card__text {
  position: absolute;
  padding: 0 24px 24px 24px;
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: transparent;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.card__wrapper:hover .card__text {
  color: black;
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.card__photo {
  z-index: -1;
}

.instagram {
  margin-top: 72px;
}

.instagram__wrapper {
  max-width: 1110px;
  margin: auto;
}

.instagram__title {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
  padding-bottom: 32px;
}

.instagram__photo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50%;
  padding-bottom: 50%;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.instagram__button {
  height: 47px;
  background: #f5f5f5 !important;
  border-radius: 8px;
  border: none;
  margin-top: 30px;
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #000000 !important;
}

.instagram__button:hover {
  background: #dfdfdf !important;
}

.map {
  margin-top: 72px;
}

.map__wrapper {
  max-width: 1110px;
  margin: auto;
  position: relative;
}

.map__title {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 41px;
  color: #000000;
  padding-bottom: 32px;
}

.map__buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  padding-bottom: 24px;
  padding-left: 24px;
}

.map__button {
  height: 43px;
  margin-top: 8px;
  text-align: left;
  width: fit-content;
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  border-radius: 8px;
  border: none;
  background-color: white !important;
  color: #000000 !important;
  box-shadow: 0px 0px 6px 1px #e1e1e1;
}

.map__button_active {
  background-color: #ffdf31 !important;
}
